django
djangorestframework
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
chromadb
sentence-transformers
python-dotenv
pypdf
gunicorn
Django
gunicorn
python-dotenv
mysqlclient
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
pypdf
